services:
  db:
    image: mariadb:${MARIADB_VERSION}
    container_name: ${WEBWORK_DB_CONTAINER}

    volumes:
      - webwork2_mysql:/var/lib/mysql
      - type: bind
        source: config/db/mariadb.cnf
        target: /etc/mysql/mariadb.cnf

    restart: always
    environment:
      # When the MariaDB container is first started it will set a random root password,
      # which you can find in the container logs.
      MARIADB_RANDOM_ROOT_PASSWORD: 1

      # When the MariaDB container is first started it will create
      # the webwork database and webwork DB user based on:
      MYSQL_DATABASE: ${WEBWORK_DB_NAME}
      MYSQL_USER: ${WEBWORK_DB_USER}
      MYSQL_PASSWORD: ${WEBWORK_DB_PASSWORD}

  app:
    # Set a fixed container name, so it does not depend on the directory name
    container_name: ${WEBWORK_APP_CONTAINER}
    env_file:
      - .env
    build:
      context: .
      args:
      - OPL=${OPL_PATH}
      - ADDITIONAL_BASE_IMAGE_PACKAGES=${ADD_BASE_PACKAGES}
    depends_on:
      - db
      - r
    volumes:
      - webwork2_courses:${APP_ROOT}/courses
      - webwork2_htdocs:${WEBWORK_ROOT}/htdocs
      - webwork2_conf:${WEBWORK_ROOT}/conf
      - pg_htdocs:${PG_ROOT}/htdocs

    hostname: ${WEBWORK_HOSTNAME}
    ports:
      - ${WEBWORK2_HTTP_PORT_ON_HOST}:8080
    restart: $RESTART
    stop_signal: SIGWINCH
    stop_grace_period: 30s

  r:
    container_name: rserve
    build:
      dockerfile: ./rserve.Dockerfile
      args:
      - ADDITIONAL_R_PACKAGES=${ADD_R_PACKAGES}
    volumes:
    - rserve_data:/localdata

volumes:
  webwork2_mysql:
  webwork2_courses:
  webwork2_htdocs:
  webwork2_conf:
  pg_htdocs:
  rserve_data:
